<section>
  <h3>Aplicaciones híbridas</h3>
  <table>
    <tr>
      <td class="fragment text-right">
        <blockquote>
          <p>
            Una aplicación desarrollada como una página web que se compila dentro de un marco de aplicación nativa
          </p>
        </blockquote>
      </td>
      <td width="600" class="relative">
        <img data-src="images/app-hibrida1.png" alt="Aplicación híbrida" style="visibility:hidden">
        <img class="absolute fragment" data-src="images/app-hibrida1.png" alt="Aplicación híbrida">
        <img class="absolute fragment" data-src="images/app-hibrida2.png" alt="Aplicación híbrida">
        <img class="absolute fragment" data-src="images/app-hibrida3.png" alt="Aplicación híbrida">
      </td>
    </tr>
    <tr>
      <td class="text-right fragment">
        <p>
          <strong>WebView</strong>
        </p>
      </td>
      <td class="fragment">
        <blockquote>
          <p>
            Componente nativo que interpreta documentos HTML.<br>
            En otras palabras es un <span class="highlight-blue">pequeño navegador</span>.
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Consideraciones</h3>
  <ul>
    <li class="fragment">
      La aplicación se <strong class="blue">desarrolla</strong> como una página web, pero <strong class="red">no es</strong> una página web.
    </li>
    <li class="fragment">
      Los recursos usados por el HTML deben ser almacenada dentro de la aplicación. Debe evitarse en lo posible utilizar recursos directamente desde Internet.
    </li>
    <li class="fragment">
      El WebView no interpreta lenguaje del servidor (PHP, Ruby, Pyhton, Node.js, etc).
    </li>
    <li class="fragment">
      El dinamismo de la aplicación se trabaja desde JavaScript en el FrontEnd, nunca con leuguaje de servidor.
    </li>
  </ul>
</section>

<section>
  <h3>Petición HTTP</h3>
  <div class="relative">
    <img data-src="images/navegador1.png" alt="Navegador" style="visibility:hidden">
    <img class="absolute fragment" data-src="images/navegador1.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador2.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador3.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador4.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador5.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador6.png" alt="Navegador">
    <img class="absolute fragment" data-src="images/navegador7.png" alt="Navegador">
  </div>
</section>