<section>
  <h3>Computación móvil</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/cellphone.png" alt="Teléfono celular">
      </td>
      <td>
        <blockquote>
          <p class="cite">
            un término utilizado para referirse a una gran cantidad de operaciones que permiten a los usuarios acceder a la información desde dispositivos portables
          </p>
          <footer>
            <cite><a href="http://books.google.co.ve/books?id=iyEPCX5V0oC">Zheng y otros (2006)</a></cite>
          </footer>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Dispositivos móviles</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/dispositivo-movil.png" alt="Dispositivos móviles">
      </td>
      <td>
        <blockquote>
          <p class="cite">
            un aparato portátil que puede acceder a la web y que está pensado para usarse en movimiento
          </p>
          <footer>
            <cite><a href="http://www.w3.org/TR/dd-landscape/">World Wide Web Consortium (2007)</a></cite>
          </footer>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Sistema operativo móvil</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/android.png" alt="Sistema operativo móvil">
      </td>
      <td>
        <blockquote>
          <p class="cite">
            gestionar los recursos del dispositivo móvil inteligente en el cual se ejecuta, con la finalidad de hacer que éste sea fácil de operar
          </p>
          <footer>
            <cite><a href="http://books.google.co.ve/books?id=iyEPCX5V0oC">Carretero y otros (2006)</a></cite>
          </footer>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>SO móviles mas utilizados</h3>
  <div class="inline-block fragment">
    <div><small>Android</small></div>
    <img width="200" data-src="images/android.png" alt="Android">
  </div>
  <div class="inline-block fragment">
    <div><small>iOS</small></div>
    <img width="150" data-src="images/ios.png" alt="iOS">
  </div>
  <div class="inline-block fragment">
    <div><small>Windows Phone</small></div>
    <img width="180" data-src="images/windows-phone.png" alt="Windows Phone">
  </div>
  <div class="inline-block fragment">
    <div><small>BlackBerry OS</small></div>
    <img width="300" data-src="images/bb-os.png" alt="BlackBerry OS">
  </div>
</section>

<section>
  <h3>Aplicación móvil</h3>
  <table>
    <tr>
      <td width="300">
        <img class="pull-left" data-src="images/app.png" alt="Aplicación móvils">
      </td>
      <td>
        <blockquote>
          <p>
            Un programa destinado ejecutarse en un dispositivo móvil y que por lo general está pensado a cumplir tareas específicas.
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Desarrollo de aplicaciones nativas</h3>
  <table>
    <tr class="fragment">
      <td>Android</td>
      <td>
        <div><img width="300" data-src="images/android-studio.png" alt="Andriod Studio"></div>
        <div><img width="300" data-src="images/eclipse.png" alt="Eclipse IDE"></div>
      </td>
      <td>
        <img width="200" data-src="images/java.png" alt="Java">
      </td>
    </tr>
    <tr class="fragment">
      <td>iOS</td>
      <td>
        <img width="200" data-src="images/xcode.png" alt="XCode">
      </td>
      <td>
        <div class="inline-block">
          <img width="150" data-src="images/objetivec.png" alt="Objetive C">
          <div><small>Objetive C</small></div>
        </div>
        <div class="inline-block">
          <img width="150" data-src="images/swift.png" alt="Swift">
          <div><small>Swift</small></div>
        </div>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Desarrollo de aplicaciones nativas</h3>
  <table>
    <tr class="fragment">
      <td>Windows Phone</td>
      <td class="text-center">
        <img width="150" data-src="images/visual-studio.png" alt="Visual Studio">
        <div><small>Visual Studio</small></div>
      </td>
      <td class="text-center">
        <div><img width="200" data-src="images/cchar.png" alt="C#"></div>
        <div><img width="150" data-src="images/xaml.png" alt="XAML"></div>
        <div class="inline-block">
      </td>
      <td>
        <small>HTML5 + WinJS</small>
      </td>
    </tr>
    <tr class="fragment">
      <td>BlackBerry OS</td>
      <td>RIM's JDE</td>
      <td>varios</td>
    </tr>
  </table>
</section>

<section>
  <h3>Desarrollo de aplicaciones nativas</h3>
  <p class="fragment">
    ¿y la portabilidad?
  </p>
  <p class="fragment">
    <small>Ninguna de las herramientas permite desarrollar aplicaciones mas que para so propia plataforma.</small>
  </p>
  <p class="fragment">
    ¿alguna solución?
  </p>
</section>