<section>
  <h2>Contenido</h2>
  <div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align" style="background-color:#0d47a1">
        <div>
          <h4 style="background-color:#0d47a1">1</h4>
          <img width="120" src="images/sistemas-operativos.png" alt="Sistemas operativos móviles">
          <span>Aplicaciones híbridas</span>
        </div>
      </div>
    </div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align" style="background-color:#fdd835">
        <div>
          <h4 style="background-color:#fdd835">2</h4>
          <img width="150" src="images/html-css-js.png" alt="HTML, CSS y JS">
        </div>
      </div>
    </div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align" style="background-color:#ef6c00">
        <div>
          <h4 style="background-color:#ef6c00">3</h4>
          <img width="150" src="images/angularjs.png" alt="Angular JS">
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align" style="background-color:#aa00ff">
        <div>
          <h4 style="background-color:#aa00ff">4</h4>
          <img width="100" src="images/angular-material-logo.png" alt="Angular Material">
        </div>
      </div>
    </div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align" style="background-color:#d50000">
        <div>
          <h4 style="background-color:#d50000">5</h4>
          <img width="150" src="images/cordova.png" alt="Compilación con Cordova">
        </div>
      </div>
    </div>
  </div>
</section>