<section>
  <h3>Para aprender</h3>
  <ul>
    <li>w3Schools.com: <a href="http://www.w3schools.com/">http://www.w3schools.com/</a></li>
    <li>Introducción a XHTML: <a href="http://librosweb.es/libro/xhtml/">http://librosweb.es/libro/xhtml/</a></li>
    <li>Introducción a CSS: <a href="https://librosweb.es/libro/css/">https://librosweb.es/libro/css/</a></li>
    <li>Introducción a JavaScript: <a href="http://librosweb.es/libro/javascript/">http://librosweb.es/libro/javascript/</a></li>
    <li>Tutorial Angular JS <a href="https://docs.angularjs.org/tutorial">https://docs.angularjs.org/tutorial</a></li>
    <li>Guía Angular JS <a href="https://docs.angularjs.org/guide">https://docs.angularjs.org/guide</a></li>
    <li>Home Angular JS <a href="https://angularjs.org/">https://angularjs.org/</a></li>
    <li>Angular Material <a href="https://material.angularjs.org/latest/">https://material.angularjs.org/latest/</a></li>
    <li>Apache Cordova <a href="https://cordova.apache.org/">https://cordova.apache.org/</a></li>
  </ul>
</section>

<section>
  <h3>Bibliografías</h3>
  <ul>
    <li>Real Académia Española (2014). Madrid: Espasa. <a href="http://dle.rae.es">[Disponible en línea]</a></li>
    <li>Carretero, J., García, F., De Miguel, P. y Pérez, F. (2001). Sistemas Operativos: Una Visión Aplicada. Madrid: MacGraw-Hill</li>
    <li>Zheng, P. y Ni, L. (2006). Smart Phone and Next Generation Mobile Computing. San Francisco: Morgan Kaufmann. <a href="http://books.google.co.ve/books?id=iyEPCX5V0oC">[Disponible enm línea]</a></li>
    <li>World Wide Web Consortium (2007). Device Description Landscape 1.0. <a href="http://www.w3.org/TR/dd-landscape/">[Disponible en líne]</a></li>
    <li>Apache Cordova (2016). Architectural overview of Cordova platform - Apache Cordova. <a href="https://cordova.apache.org/docs/en/latest/guide/overview/">[Disponible en línea]</a></li>
  </ul>
</section>

<section>
  <h3>Herramientas</h3>
  <div class="small">
    <table class="small">
      <tr>
        <td><img height="36" data-src="images/code.png" alt="Código ejemplos"></td>
        <td>Código ejemplos</td>
        <td></td>
        <td><a href="#">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/wampserver.png" alt="WAMP Server"></td>
        <td>WAMP Server</td>
        <td><a href="http://www.wampserver.com/en/">[Web]</a></td>
        <td><a href="http://tenet.dl.sourceforge.net/project/wampserver/WampServer%202/Wampserver%202.5/wampserver2.5-Apache-2.4.9-Mysql-5.6.17-php5.5.12-32b.exe">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/googlechrome.png" alt="Google Chrome"></td>
        <td>Google Chrome</td>
        <td><a href="https://www.google.es/chrome/browser/desktop/">[Web]</a></td>
        <td></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/android-studio-logo.png" alt="Android Studio"></td>
        <td>Android Studio</td>
        <td><a href="http://developer.android.com/intl/es/sdk/index.html">[Web]</a></td>
        <td><a href="https://dl.google.com/dl/android/studio/install/1.5.1.0/android-studio-bundle-141.2456560-windows.exe">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/android.png" alt="Android SDK"></td>
        <td>Android SDK</td>
        <td><a href="http://developer.android.com/intl/es/sdk/index.html">[Web]</a></td>
        <td><a href="http://dl.google.com/android/android-sdk_r24.4.1-windows.zip">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/nodejs.png" alt="Node JS"></td>
        <td>Node JS</td>
        <td><a href="https://nodejs.org/en/">[Web]</a></td>
        <td><a href="https://nodejs.org/dist/v4.4.1/win-x86/node.exe">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/cordova-logo.png" alt="Cordova"></td>
        <td>Cordova</td>
        <td><a href="https://cordova.apache.org/">[Web]</a></td>
        <td></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/notepadpp.png" alt="Notepad"></td>
        <td>Notepad++</td>
        <td><a href="https://notepad-plus-plus.org/">[Web]</a></td>
        <td><a href="https://notepad-plus-plus.org/repository/6.x/6.9.1/npp.6.9.1.bin.zip">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/sublimetext.png" alt="SumblimeText 2"></td>
        <td>SumblimeText 2</td>
        <td><a href="https://www.sublimetext.com/">[Web]</a></td>
        <td><a href="https://download.sublimetext.com/Sublime%20Text%202.0.2.zip">[Descarga]</a></td>
      </tr>
      <tr>
        <td><img height="36" data-src="images/sublimetext.png" alt="SumblimeText 3"></td>
        <td>SumblimeText 3</td>
        <td><a href="https://www.sublimetext.com/">[Web]</a></td>
        <td><a href="https://download.sublimetext.com/Sublime%20Text%20Build%203103.zip">[Descarga]</a></td>
      </tr>
    </table>
  </div>
</section>
<section data-background="images/codifiquemos.gif">
  <h2>... al código</h2>
</section>