<section>
  <h3>HTML</h3>
  
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/html5.png" alt="HTML5">
      </td>
      <td>
        <blockquote>
          <p>
            HyperText Markup Language (lenguaje de marcas de hipertexto), es un <strong class="green">lenguaje de marcado</strong> para la elaboración de páginas web, acargo de la World Wide Web Consortium (W3C). Es un dialecto de XML.
          </p>
        </blockquote>
        <p class="fragment">
          No es un <strong class="red">lenguaje de programación</strong>.
        </p>
      </td>
    </tr>
  </table>

</section>

<section>
  <h3>CSS</h3>
  
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/css3.png" alt="CSS3">
      </td>
      <td>
        <blockquote>
          <p>
            Cascading Style Sheets (Hoja de estilo en cascada), es un <strong class="green">lenguaje de hoja de estilos</strong> acargo de la World Wide Web Consortium (W3C), utilizado para definir la presentación de un documento estructurado. Busca separar la estructura de un documento de su presentación.
          </p>
        </blockquote>
        <p class="fragment">
          No es un <strong class="red">lenguaje de programación</strong>.
        </p>
      </td>
    </tr>
  </table>

</section>

<section>
  <h3>JavaScript</h3>
    <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/js.png" alt="JavaScript">
      </td>
      <td>
        <blockquote>
          <p>
            Lenguaje de programación interpretado dialecto de ECMAScript, orientado a objetos, basado en prototipos, imperativo, de tipeado débil y dinámico.
          </p>
        </blockquote>
        <p class="fragment">
          Si un <strong class="green">lenguaje de programación</strong>,<br>
          <span class="fragment">pero no se java <strong class="red">Java</strong>.</span>
        </p>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>HTML+CSS+JS</h3>
  <div class="text-center">
    <div class="inline-block relative">
      <img data-src="images/goku1.bmp" alt="Goku" style="visibility:hidden">
      <img class="absolute fragment current-visible" data-src="images/goku1.bmp" alt="Goku HTML">
      <img class="absolute fragment current-visible" data-src="images/goku2.bmp" alt="Goku CSS">
      <img class="absolute fragment current-visible" data-src="images/goku3.gif" alt="Goku JS">
    </div>
  </div>
</section>

<section>
  <h3>Funciones Nativas</h3>
  <table>
    <tr>
      <td>
        <small>
          <ul>
            <li class="fragment">Hardware: cámara, vibración, tonos, GPS, acelerómetro, etc</li>
            <li class="fragment">Servicios: SMS, MMS, Llamadas, etc</li>
            <li class="fragment">En el desarrollo de páginas web no tienen contempladas estas características</li>
          </ul>
        </small>
      </td>
      <td width="500">
        <img class="fragment" data-src="images/webview-nativo.png" alt="Webview - Nativo">
      </td>
    </tr>
  </table>
  <div class="fragment">
    Desarrollar de interfaces de comunicación entre el documento HTML y el código nativo para cada plataforma.
  </div>
</section>

<section>
  <img width="400" data-src="images/cordova.png" alt="Apache Cordova">
  <table>
    <tr>
      <td class="fragment">
        <blockquote>
          <p class="cite">
            Framework de desarrollo de aplicaciones móviles de código abierto que te permite usar tecnologías web estándares (HTML5, CCS3 y JavaScript) para desarrollos multiplataformas. Las aplicaciones se ejecutan dentro de contenedores específicos para cada plataforma y se basan API estándares compatibles para acceder a las características de cada dispositivo como sensores, datos, red, etc.
          </p>
          <footer>
            <a href="https://cordova.apache.org/docs/en/latest/guide/overview/">Página Apache Cordova (2012)</a>
          </footer>
        </blockquote>
      </td>
      <td width="400">
        <div class="fragment">¿Qué significa?</div>
        <pre class="fragment"><code>// Android
Camera cam</code></pre>
<pre class="fragment"><code>// iOS
AVCaptureDevice *cam</code></pre>
<pre class="fragment"><code>// Windows Phone
PhotoCamera cam</code></pre>
<pre class="fragment"><code>// Cordova JavaScript
navigator.camera</code></pre>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Framework</h3>
  <blockquote class="fragment">
    <p>
      Un framework (marco de trabajo) es conjunto especificaciones y herramientas reutilizables destinadas a resolver un tipo de problema específico.
    </p>
  </blockquote>
  <blockquote class="fragment">
    <p>
      Librerías, código reutilizable, utilidades, entre otras.
    </p>
  </blockquote>
</section>

<section>
  <div><img width="400" data-src="images/cordova.png" alt="Apache Cordova"></div>
  <div><img width="650" data-src="images/cordovaapparchitecture.png" alt="Arquitectura de Apache Cordova"></div>
</section>

<section>
  <h3>Angular JS</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/angularjs-logo.png" alt="Angular JS">
      </td>
      <td>
        <blockquote>
          <p>
            Framework JS <strong class="green">MVC</strong> open-source mantenido por Google utilizado para crear páginas all-in-one. Principal función en la ampliación de HTML mendiante <strong class="green">two data binding</strong>.
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Angular Material</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/angular-material-logo-no-name.png" alt="Angular Material">
      </td>
      <td>
        <blockquote>
          <p>
            Framework basado en Angular JS que implementa las especificaciones de <strong class="green">Material Design</strong> de google. Ofrece un conjunto de <strong class="green">componentes UI</strong> reusables.
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
</section>