<section>
  <h3>Documento HTML</h3>
  <img data-src="images/html-struct.png" alt="Estructura documento HTML">  
</section>

<section>
  <h3>Tipos de documentos HTML</h3>
  <img data-src="images/html-doctype.png" alt="Tipo de documento HTML">  
</section>

<section>
  <h3>Etiquetas HTML</h3>
  <img height="64" data-src="images/html-tag.png" alt="Etiquetas HTML">  
  
  <div class="fragment">
    <h5>Atributos HTML</h5>
    <img height="64" data-src="images/html-attributo.png" alt="Attributos HTML">  
  </div>
</section>

<section class="fragment">
  <h3>Atributos HTML</h3>
  <img class="fragment" height="64" data-src="images/html-attr1.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr2.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr3.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr4.png" alt="Attributo HTML">
</section>

<section>
  <h3>Attributos mas usados</h3>
  <table>
    <tr>
      <td width="200"><pre><code>alt</code></pre></td>
      <td><p>Texto alternativo</p></td>
    </tr>
    <tr>
      <td><pre><code>disabled</code></pre></td>
      <td>Si una campo de entrada esta deshabilitado</td>
    </tr>
    <tr>
      <td><pre><code>href</code></pre></td>
      <td>URL de un enlace</td>
    </tr>
    <tr>
      <td><pre><code>id</code></pre></td>
      <td>ID unique de un elemento</td>
    </tr>
  </table>
</section>

<section>
  <h3>Attributos mas usados</h3>
  <table>
    <tr>
      <td width="200"><pre><code>src</code></pre></td>
      <td>URL de una imagen</td>
    </tr>
    <tr>
      <td><pre><code>style</code></pre></td>
      <td>Estilos CSS para un elemento</td>
    </tr>
    <tr>
      <td><pre><code>src</code></pre></td>
      <td>URL de una imagen</td>
    </tr>
    <tr>
      <td><pre><code>title</code></pre></td>
      <td>Tooltips para un elemento</td>
    </tr>
  </table>
</section>