<section>
  <h3>Documento HTML</h3>
  <img data-src="images/html-struct.png" alt="Estructura documento HTML">  
</section>

<section>
  <h3>Tipos de documentos HTML</h3>
  <img data-src="images/html-doctype.png" alt="Tipo de documento HTML">  
</section>

<section>
  <h3>Etiquetas HTML</h3>
  <img height="64" data-src="images/html-tag.png" alt="Etiquetas HTML">  
  
  <div class="fragment">
    <h5>Atributos HTML</h5>
    <img height="64" data-src="images/html-attributo.png" alt="Attributos HTML">  
  </div>
</section>

<section class="fragment">
  <h3>Atributos HTML</h3>
  <img class="fragment" height="64" data-src="images/html-attr1.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr2.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr3.png" alt="Attributo HTML">
  <img class="fragment" height="64" data-src="images/html-attr4.png" alt="Attributo HTML">
</section>

<section>
  <h3>Attributos mas usados</h3>
  <table>
    <tr>
      <td width="200"><pre><code>alt</code></pre></td>
      <td><p>Texto alternativo</p></td>
    </tr>
    <tr>
      <td><pre><code>disabled</code></pre></td>
      <td>Si una campo de entrada está deshabilitado</td>
    </tr>
    <tr>
      <td><pre><code>href</code></pre></td>
      <td>URL de un enlace</td>
    </tr>
    <tr>
      <td><pre><code>id</code></pre></td>
      <td>ID único de un elemento</td>
    </tr>
  </table>
</section>

<section>
  <h3>Attributos mas usados</h3>
  <table>
    <tr>
      <td width="200"><pre><code>src</code></pre></td>
      <td>URL de una imagen</td>
    </tr>
    <tr>
      <td><pre><code>style</code></pre></td>
      <td>Estilos CSS para un elemento</td>
    </tr>
    <tr>
      <td><pre><code>src</code></pre></td>
      <td>URL de una imagen</td>
    </tr>
    <tr>
      <td><pre><code>title</code></pre></td>
      <td>Tooltips para un elemento</td>
    </tr>
  </table>
</section>

<section>
  <h3>Layout</h3>
  <img data-src="images/html-layout.gif" alt="Layout HTML">
</section>

<section>
  <h3>Layout</h3>
  <p><span class="green">scheme</span>://<span class="red">prefix.domain</span>:<span class="yellow">port</span><span>/path/filename</span></p>
  <div class="fragment">
    <h5>Esquemas</h5>
    <ul>
      <li>http</li>
      <li>https</li>
      <li>ftp</li>
      <li>file</li>
    </ul>
  </div>
</section>

<section>
  <h3>XHTML</h3>
  <small>
    <ul>
      <li>Estructura
        <ul>
          <li>La etiqueta DOCTYPE es obligatorio</li>
          <li>El atributo xmlns en la etiqueta &lt;html&gt; es obligatorio</li>
          <li>Las etiquetas &lt;html&gt;, &lt;head&gt;, &lt;title&gt;, and &lt;body&gt; son obligatorios</li>
        </ul>
      </li>
      <li>Elementos XHTML
        <ul>
          <li>Los elementos deben ser anidados apropiadamente</li>
          <li>Los elementos siempre deben ser cerrardos</li>
          <li>Los elementos deben estar en minúsculas</li>
          <li>Los documentos deben tener un elemento raíz</li>
        </ul>
      </li>
      <li>Atributos XHTML
        <ul>
          <li>Los nombres de los atributos siempre deben ser en minúsculas</li>
          <li>Los valores de los atributos deben estar siempre entre comillas</li>
          <li>No se permite la minimización</li>
        </ul>
      </li>
    </ul>
  </small>
</section>

<section>
  <h3>Validador</h3>
  <a href="https://validator.w3.org/nu/">https://validator.w3.org/nu/</a>
</section>