<section>
  <h3>Computador, ra</h3>
  <table class="fragment">
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/computador.png" alt="Computador">
      </td>
      <td>
        <div>
          <blockquote>
            <p class="cite">
              Máquina electrónica que, mediante determinados programas, permite almacenar y tratar información, y resolver problemas de diversa índole.
            </p>
            <footer>
              <cite><a href="http://dle.rae.es/?id=A4hIGQC">RAE (2016)</a></cite>
            </footer>
          </blockquote>
        </div>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>Está formado por</h3>
  <table>
    <tr class="fragment">
      <td width="170">
        <p class="text-center">Hardware</p>
        <img data-src="images/hardware.png" alt="Software">
      </td>
      <td>
        <div>
          <blockquote class="fragment">
            <p class="cite">
              Conjunto de aparatos de una computadora.
            </p>
            <footer>
              <cite><a href="http://dle.rae.es/?id=A4hIGQC">RAE (2016)</a></cite>
            </footer>
          </blockquote>
          <blockquote class="fragment">
            <p class="cite">
              Todo lo que podemos tocar
            </p>
          </blockquote>
        </div>
      </td>
    </tr>
    <tr class="fragment">
      <td width="170">
        <p class="text-center">Software</p>
        <img data-src="images/software.png" alt="Software">
      </td>
      <td>
        <div>
          <blockquote class="fragment">
            <p class="cite">
              Conjunto de programas, instrucciones y reglas informáticas para ejecutar ciertas tareas en una computadora.
            </p>
            <footer>
              <cite><a href="http://dle.rae.es/?id=K1Wwkf7">RAE (2016)</a></cite>
            </footer>
          </blockquote>
          <blockquote class="fragment">
            <p class="cite">
              Lo que no podemos tocar
            </p>
          </blockquote>
        </div>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>¿Cómo hablamos con la computadora?</h3>
  <div class="fragment">
    <div class="inline-block">
      <div class="circulo vertical-align">
        <div>
          <img width="120" data-src="images/user.png" alt="User">
        </div>
      </div>
      <span><small>Usuario</small></span>
    </div>
    <div class="inline-block">
      <div class="fragment">
        <div class="circulo vertical-align">
          <div>
            <img width="150" data-src="images/software.png" alt="Aplicación">
          </div>
        </div>
        <span><small>Aplicación</small></span>
      </div>
      <div class="fragment">
        <div class="circulo vertical-align">
          <div>
            <img width="120" data-src="images/programador.png" alt="Programador">
          </div>
        </div>
        <span><small>Programador</small></span>
      </div>
    </div>
    <div class="inline-block fragment">
      <div class="circulo vertical-align">
        <div>
          <img width="150" data-src="images/windows.png" alt="Sistema operativo">
        </div>
      </div>
      <span><small>Sistema Operativo</small></span>
    </div>
    <div class="inline-block">
      <div class="circulo vertical-align">
        <div>
          <img width="200" data-src="images/hardware.png" alt="Hardware">
        </div>
      </div>
      <div><small>Hardware</small></div>
    </div>
  </div>
</section>

<section>
  <h3>Sistemas operativos</h3>
  <table>
    <tr>
      <td width="250">
        <img class="pull-left" data-src="images/windows.png" alt="Sistemas operativos">
      </td>
      <td>
        <blockquote>
          <p class="cite">
            Es un software que proporciona múltiples funciones, cuyo objetivo es simplificar el manejo y utilización de la computadora, haciéndolo seguro y eficiente.
          </p>
          <footer>
            <cite>Carretero y otros (2001)</cite>
          </footer>
        </blockquote>
      </td>
    </tr>
  </table>
</section>

<section>
  <h3>SO mas comunes</h3>
  <div class="inline-block fragment">
    <div><small>Linux</small></div>
    <img width="200" data-src="images/linux.png" alt="Linux">
  </div>
  <div class="inline-block fragment">
    <div><small>Microsoft Windows</small></div>
    <img width="200" data-src="images/windows.png" alt="Microsoft Windows">
  </div>
  <div class="inline-block fragment">
    <div><small>Mac OS X</small></div>
    <img width="130" data-src="images/mac-os-x.png" alt="Mac OS X">
  </div>
</section>