<!DOCTYPE html>
<html lang="es" >
  <head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Codedit</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="vendor/roboto.css"/>
    <link rel="stylesheet" href="vendor/angular-material.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/animations.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <base target="_blank">

  </head>

  <body ng-app="app" layout="row" ng-cloak>

    <md-content ng-controller="GlobalCtrl" flex layout="row" class="md-primary" tabIndex="-1" role="main" >

      <md-sidenav layout="column"
        id="list-ejemplos"
        md-component-id="ejemplos"
        ng-click="toggleSideBar('ejemplos')" aria-label="Ver ejemplos"
        md-disable-backdrop
        md-is-locked-open="true">

        <md-toolbar id="main-toolbar" layout="row" class="bbottom">
          <div class="md-toolbar-tools">
            <h3>Codedit</h3>
            <span flex></span>
            <md-button href="server/zip.php" aria-label="Descargar" class="md-icon-button">
              <md-icon md-svg-icon="download"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-toolbar flex layout="column">
          <md-content flex>
            <div ng-repeat="(group, ids) in samples.ddd.groups" ng-if="ids.length">
              <md-toolbar ng-click="toggleGroup(group)" class="md-hue-2 bbottom">
                <div class="md-toolbar-tools">
                  {{group | groupText}}
                </div>
              </md-toolbar>
              <md-list class="in-expand" ng-hide="ghiddens[group]">
                <md-content>
                  <md-list-item ng-init="p = samples.ddd.records[id]" ng-repeat="id in ids" ng-click="m.select(p)" ng-class="{'selected' : p === selected}">
                    <p>{{p.name}}</p>
                    <md-button ng-if="isLocal" ng-click="delete(p, $event)" aria-label="Eliminar proyecto" class="md-icon-button md-warn md-hue-1">
                      <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                  </md-list-item>
                </md-content>
              </md-list>
            </div>
          </md-content>
        </md-toolbar>

      </md-sidenav>

      <section flex id="main-files" layout="column">
        <md-toolbar class="bbottom">
          <div class="md-toolbar-tools">
            <h3>{{selected.name}}</h3>
            <span flex></span>
            <md-button ng-click="add()" aria-label="Nuevo" class="md-icon-button" ng-show="isLocal">
              <md-icon md-svg-icon="add"></md-icon>
            </md-button>
            <md-button ng-click="setup($event)" aria-label="Editar" class="md-icon-button md-hue-1">
              <md-icon md-svg-icon="settings"></md-icon>
            </md-button>
            <md-button ng-click="m.save()" aria-label="Guardar" class="md-icon-button">
              <md-icon md-svg-icon="save"></md-icon>
            </md-button>
            <md-button ng-click="m.play()" aria-label="Ejecutar" class="md-icon-button">
              <md-icon md-svg-icon="play"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-tabs flex layout="column" class="md-primary">
          <md-tab flex ng-repeat="(url, code) in codes" ng-if="code.type">
            <md-tab-label>{{url}}</md-tab-label>
            <md-tab-body flex layout="column">
              <md-content ng-model="code.code" ui-ace="aceOptions(code.type)"></md-content>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </section>

      <section flex layout="column">
        <md-toolbar class="bbottom">
          <div class="md-toolbar-tools">
            <h3>Preview</h3>
          </div>
        </md-toolbar>
        <md-content flex layout="column">
          <iframe flex ng-src="{{resultUrl}}" ng-if="resultUrl" class="iframe-result"></iframe>
        </md-content>
      </section>

    </md-content>

    <script src="vendor/ace/ace.js"></script>

    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="vendor/angular-aria.min.js"></script>
    <script src="vendor/angular-sanitize.min.js"></script>
    <script src="vendor/angular-material.min.js"></script>
    <script src="vendor/ui-ace.min.js"></script>
 
    <script src="src/app.js"></script>

  </body>
</html>
