@import nib

$code-width = 35%
$code-height = (100% / 3)
$md-cards-padding = 2px
$tool-bar-height = 40px
$list-item-height = 40px

md-toolbar
  h3
    margin: auto 0
  md-list
    md-list-item.selected
      p
        color: #69F0AE
      .md-avatar
        svg
          fill: #69F0AE

md-toolbar
  min-height: $tool-bar-height
  
.md-toolbar-tools
  height: $tool-bar-height

md-content
  background: none
  
md-list-item
  overflow: hidden
  button
    width:100%
    text-align:left !important

md-card
  overflow: hidden
  // margin: $md-cards-padding

md-list-item
md-list-item .md-list-item-inner
  height: $list-item-height
  min-height: $list-item-height
  
.content
  background-color: #F1F1F1

.relative
  position: relative
  
.absolute
  absolute: top bottom left right

.iframe-result
  border: none

#main-toolbar
  z-index: 6
  
#list-ejemplos
  z-index: 5
  // md-content
  //   overflow: hidden
    
#main-section
  z-index: 4

#main-files
  z-index: 3
  md-tab-content
    >div
    >div>md-content
      height:100%;
  
  
#editor
  absolute: top $md-cards-padding bottom $md-cards-padding left $md-cards-padding right $md-cards-padding

#col-code
#col-result
  absolute: top bottom
  
#col-code
  left: 0
  width: $code-width
  
#col-result
  right: 0
  width: 100% - $code-width
