md-toolbar h3 {
  margin: auto 0;
}
md-toolbar md-list md-list-item.selected p {
  color: #69f0ae;
}
md-toolbar md-list md-list-item.selected .md-avatar svg {
  fill: #69f0ae;
}
md-toolbar {
  min-height: 40px;
}
.md-toolbar-tools {
  height: 40px;
}
md-content {
  background: none;
}
md-list-item {
  overflow: hidden;
}
md-list-item button {
  width: 100%;
  text-align: left !important;
}
md-card {
  overflow: hidden;
}
md-list-item,
md-list-item .md-list-item-inner {
  height: 40px;
  min-height: 40px;
}
.content {
  background-color: #f1f1f1;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.iframe-result {
  border: none;
}
#main-toolbar {
  z-index: 6;
}
#list-ejemplos {
  z-index: 5;
}
#main-section {
  z-index: 4;
}
#main-files {
  z-index: 3;
}
#main-files md-tab-content >div,
#main-files md-tab-content >div>md-content {
  height: 100%;
}
#editor {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}
#col-code,
#col-result {
  position: absolute;
  top: 0;
  bottom: 0;
}
#col-code {
  left: 0;
  width: 35%;
}
#col-result {
  right: 0;
  width: 65%;
}
